<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Konumunuzu arka planda takip ederek rota oluşturur.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Konumunuzu takip ederek haritada görüntüler.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Arka planda konumunuzu kaydederek rota oluşturur.</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.onuryilmaz.kelebek.backgroundLocationTaskUpdate</string>
    </array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
